div.folder{
   text-align: center;
}


div.card{
    padding-bottom: 10px;
    text-align: center;
    width: 20%;
    padding-left: 30px;
    color: white;
    box-shadow: 1px 1px 6px rgb(148, 147, 147);
    display: inline-block;
    justify-content: space-between;
    padding: 35px;
    object-fit: contain;
    object-position: top;
    animation: fadein 1s ease-in-out forwards;
    animation-delay: 0.2s;
    opacity: 0;

}
@keyframes fadein{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
div.first-product{

    padding-top: 10px;
    border-radius: 15px;
}


div.producto-title {
   border-radius: 5px;
   color: rgba(38, 110, 116, 0.842);
    font-size: 35px;

    }
div.producto-description{
        padding-top: 5px;
        font-size: 20px;
        color: rgb(92, 89, 89);
    }

div.first-product img{ 
       width: 100%;
       height: auto;
    }
    
p.price{
        color: rgba(15, 15, 15, 0.952);
      
        border-radius: 5px;
        font-size: 32px;
    }
    
.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #60a1b4;
    margin:0 0.3em 0.3em 0;
    border-radius:15px;
    box-sizing: border-box;
    text-decoration:none;
    display: center;
    font-size: 18px;
    color:white;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
    background-color: rgba(45, 132, 138, 0.842);
        }
.button1:hover{
    color:rgb(43, 128, 134);
    border:0.1em solid rgba(45, 132, 138, 0.842);
    background-color:white
        }

        .btn-stock{
            color: black;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

.button2{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #60a1b4;
    margin:0 0.3em 0.3em 0;
    border-radius:15px;
    box-sizing: border-box;
    text-decoration:none;
    display: center;
    font-size: 18px;
    color:white;
    text-align:center;
    transition: all 0.2s;
    cursor: pointer;
    background-color: rgba(45, 132, 138, 0.842);
        }  
.button2:hover{
    color:rgb(43, 128, 134);
    border:0.1em solid rgba(45, 132, 138, 0.842);
    background-color:white
}  
@media all and (max-width:30em){
a.button1{
display:block;
margin:0.4em auto;
}


}