
.footer{
    color:rgb(42, 111, 133);
    background-color:white;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .footer-text{
    background-color: rgb(255, 255, 255);
    font-size: 25px;
  }
  div.footer-links {
    padding-bottom: 2px;
    padding-block: 20px;
   display: inline-block;
  }
 
  div.footer-links a {
    text-decoration: none;
    color: rgb(51, 45, 40);
    text-align: center;
    padding: 25px;
    border-radius: 15px;
   }

  div.footer-info {
    color: rgb(112, 112, 112);
    padding-top: 35px;
   font-size: 20px;
}

.footer-icon{
  padding-right: 20px;
  width:35%;
}